<div class="container">
    <h2 class="text-center">Gestão de Produtos</h2>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">FILTROS</label>
        <div class="crud--content-line"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <p-autoComplete placeholder="Informe um colaborador" (onSelect)="true" [(ngModel)]="colaboradorSelecionado"
                [dropdown]="true" [suggestions]="colaboradorFiltrado" [style]="{'width': '100%'}"
                (completeMethod)="filtroColaborador($event)" field="nome">
                <ng-template let-colaborador pTemplate="colab">
                    <div>{{colaborador.nome}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="col-3">
            <p-autoComplete placeholder="Informe uma Seção" (onSelect)="true" [(ngModel)]="secaoSelecionada"
                [dropdown]="true" [suggestions]="secaoFiltrada" [style]="{'width': '100%'}"
                (completeMethod)="filtroSecao($event)" field="descricaoSecao">
                <ng-template let-secao pTemplate="colab">
                    <div>{{secao.descricaoSecao}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Informe o produto" [(ngModel)]="descricao">
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary"
                (click)="listarProdutosPorColaboradorESecao()">Consultar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" (click)="limparFiltros()">limpar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" (click)="abrirModalIncluir()">Incluir</button>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
        </div>
        <div class="col-3">
            <input type="file" placeholder="Importar Produto" (input)="onFileChange($event)" multiple="false">

        </div>
    </div>
    <div *ngIf="listaVazia">
        <label>Não existem produtos para os filtros selecionados</label>
    </div>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">LISTAGEM DE PRODUTOS</label>
        <div class="crud--content-line"></div>
    </div>
    <div *ngIf="habilitarSpinner">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s"></p-progressSpinner>
    </div>
    <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
        <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
        {{ mensagem }}
    </div>
    <p-table *ngIf="!habilitarSpinner" class="table table-striped" [value]="listaProdutos"
        emptyMessage="Não existem produtos cadastrados" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[5,10,15,20]">

        <ng-template pTemplate="header">
            <tr>
                <th scope="col" pSortableColumn="nome">
                    Colaborador<p-sortIcon field="nome"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="descricao_Produto">
                    Produto <p-sortIcon field="descricao_Produto"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="cod_Fabricante">
                    Cod.Fab <p-sortIcon field="cod_Fabricante"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="valor">
                    Vr.Final(etiqueta) <p-sortIcon field="valor"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="valor_Colaborador">
                    Vr.Colab <p-sortIcon field="valor_Colaborador"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="descricao_Secao">
                    Seção <p-sortIcon field="descricao_Secao"></p-sortIcon>
                </th>

                <th scope="col">Ações</th>
            </tr>
            <tr>
                <th scope="row">
                    <p-columnFilter type="text" field="nome" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th scope="row">
                    <p-columnFilter type="text" field="descricao_Produto" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th scope="row">
                    <p-columnFilter type="text" field="cod_Fabricante" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th scope="row">
                    <p-columnFilter type="text" field="valor" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th scope="row">
                    <p-columnFilter type="text" field="valor_Colaborador" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th scope="row">
                    <p-columnFilter type="text" field="descricaoSecao" [showMenu]="false">
                    </p-columnFilter>
                </th>
                <th scope="row"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-produto>
            <tr>
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao_Produto}}</td>
                <td>{{produto.cod_Fabricante}}</td>
                <td>{{produto.valor | currency}}</td>
                <td>{{produto.valor_Colaborador | currency}}</td>
                <td>{{produto.descricao_Secao}}</td>
                <td>
                    <p-button pTooltip="Editar" icon="pi pi-file-edit" (click)="abrirModalEditar(produto)"></p-button>
                </td>

            </tr>
        </ng-template>
    </p-table>


    <p-dialog (onHide)="fecharModal()" [(visible)]="abrirModalProduto" [style]="{width: '726px'}" [modal]=true
        styleClass="p-fluid">

        <ng-template pTemplate="content">
            <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
                <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
                {{ mensagem }}
            </div>
            <div>
                <h3 class="text-center" *ngIf="novoProduto">Cadastrar Produto</h3>
                <h3 class="text-center" *ngIf="editarProduto">Editar Produto</h3>
            </div>
            <br />
            <div>
                <div class="row">
                    <div class="col">
                        <div class="crud--detalhes-parametro-sistema" *ngIf="novoProduto">
                            <label>Colaborador</label>
                            <p-autoComplete placeholder="Informe um colaborador" (onSelect)="true"
                                [(ngModel)]="colaboradorModal" [dropdown]="true" [suggestions]="colaboradorFiltrado"
                                [style]="{'width': '100%'}" (completeMethod)="filtroColaborador($event)" field="nome">
                                <ng-template let-colaborador pTemplate="colab">
                                    <div>{{colaborador.nome}}</div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                        <div class="crud--detalhes-parametro-sistema" *ngIf="editarProduto">
                            <label>Colaborador</label>
                            <p-autoComplete placeholder="Informe um colaborador" (onSelect)="true"
                                [(ngModel)]="produtoEdicao.colaborador" [dropdown]="true"
                                [suggestions]="colaboradorFiltrado" [style]="{'width': '100%'}"
                                (completeMethod)="filtroColaborador($event)" field="nome">
                                <ng-template let-colaborador pTemplate="colab">
                                    <div>{{colaborador.nome}}</div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col">
                        <div class="crud--detalhes-parametro-sistema" *ngIf="novoProduto">
                            <label>Seção</label>
                            <p-autoComplete placeholder="Informe uma Seção" (onSelect)="true" [(ngModel)]="secaoModal"
                                [dropdown]="true" [suggestions]="secaoFiltrada" [style]="{'width': '100%'}"
                                (completeMethod)="filtroSecao($event)" field="descricaoSecao">
                                <ng-template let-secao pTemplate="colab">
                                    <div>{{secao.descricaoSecao}}</div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                        <div class="crud--detalhes-parametro-sistema" *ngIf="editarProduto">
                            <label>Seção</label>
                            <p-autoComplete placeholder="Informe uma Seção" (onSelect)="true"
                                [(ngModel)]="produtoEdicao.secao" [dropdown]="true" [suggestions]="secaoFiltrada"
                                [style]="{'width': '100%'}" (completeMethod)="filtroSecao($event)"
                                field="descricaoSecao">
                                <ng-template let-secao pTemplate="colab">
                                    <div>{{secao.descricaoSecao}}</div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="crud--detalhes-parametro-sistema" *ngIf="novoProduto">
                            <label>Produto</label>
                            <input class="form-control" [(ngModel)]="produto.descricaoProduto"
                                placeholder="informe o produto" />
                        </div>
                        <div class="crud--detalhes-parametro-sistema" *ngIf="editarProduto">
                            <label>Produto</label>
                            <input class="form-control" [(ngModel)]="produtoEdicao.descricaoProduto"
                                placeholder="informe o produto" />
                        </div>
                    </div>


                    <div class="col">
                        <div class="crud--detalhes-parametro-sistema" *ngIf="novoProduto">
                            <label>V.final(etiqueta)</label>
                            <p-inputNumber [(ngModel)]="produto.valor" inputId="minmaxfraction" mode="decimal"
                                [minFractionDigits]="2" [maxFractionDigits]="5">
                            </p-inputNumber>
                        </div>
                        <div class="crud--detalhes-parametro-sistema" *ngIf="editarProduto">
                            <label>V.final(etiqueta)</label>
                            <p-inputNumber [(ngModel)]="produtoEdicao.valor" inputId="minmaxfraction" mode="decimal"
                                [minFractionDigits]="2" [maxFractionDigits]="5">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="col" *ngIf="editarProduto">
                        <div class="crud--detalhes-parametro-sistema">
                            <label>P.Colaborador</label>
                            <input class="form-control" placeholder="informe a porcentagem"
                                [(ngModel)]="produtoEdicao.porcentagemColaborador" />
                        </div>
                    </div>

                    <div class="col">
                        <div class="crud--detalhes-parametro-sistema" *ngIf="novoProduto">
                            <label>Quantidade</label>
                            <input class="form-control" [(ngModel)]="produto.quantidade"
                                placeholder="informe a quantidade" />
                        </div>
                        <div class="crud--detalhes-parametro-sistema" *ngIf="editarProduto">
                            <label>Quantidade</label>
                            <input class="form-control" [(ngModel)]="produtoEdicao.quantidade"
                                placeholder="informe a quantidade" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="crud--close-modal">
                <div class="crud-label-line-bottom"></div>
                <div class="crud--edit-button">
                    <button id="crud-btn-fechar" type="button" (click)="fecharModal()"
                        class="btn p-button-outlined p-button-secondary p-ripple crud--botao-fechar">
                        Fechar
                    </button>
                    <button id="crud-btn-salvar" type="button" class="btn btn-success buttons" *ngIf="novoProduto"
                        (click)="salvar(false)">
                        Salvar
                    </button>
                    <button id="crud-btn-salvar" type="button" class="btn btn-success buttons" *ngIf="editarProduto"
                        (click)="editar()">
                        Editar
                    </button>
                </div>
            </div>

        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="parametroSucesso" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="crud--modal-sucesso">
                <div class="crud--modal-sucesso-title">
                    <i class="pi pi-check" style="font-size: 2rem; color: #00B273">
                    </i>
                    <!--<i class="pi pi-exclamation-triangle" style="font-size: 2rem; color: rgb(255, 0, 0)"> 
                    </i> -->
                    <label class="crud--modal-sucesso-label">
                        {{this.mensagem}}
                    </label>
                </div>
                <div class="crud--modal-sucesso-botao-line">
                    <div class="crud--modal-sucesso-line"></div>
                    <div class="crud--modal-sucesso-botao">
                        <button class="btn p-button-outlined p-button-secondary p-ripple p-button p-component buttons"
                            pButton id="crud-btn-fechar" type="button" (click)="fecharModalSucesso()" label="Fechar">
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>