<div class="container">
    <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
        <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
        {{ mensagem }}
    </div>
    <h2 class="text-center">Relatório Produtos Colaborador</h2>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">FILTROS</label>
        <div class="crud--content-line"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <input type="date" class="form-control" placeholder="data Inicial" [(ngModel)]="dataInicial">
        </div>
        <div class="col-3">
            <input type="date" class="form-control" placeholder="data final" [(ngModel)]="dataFinal">
        </div>
        <div class="col-2">
            <p-autoComplete placeholder="Colaborador" (ngModelChange)="habilitarBotaoConsultar($event)"
                (onSelect)="true" [(ngModel)]="vendedorVenda" [dropdown]="true" [suggestions]="vendedorFiltrado"
                [style]="{'width': '100%'}" (completeMethod)="filtroVendedor($event)" field="nome">
                <ng-template let-vendedor pTemplate="colab">
                    <div>{{vendedor.nome}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" [disabled]="!habilitarConsultar"
                (click)="listarDadosRelatorioProdutoColaborador()">Consultar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" (click)="limparFiltros()">limpar</button>
        </div>
        <div class="col">
            <p-button pTooltip="Marcar todos" icon="pi pi-check-circle" [disabled]="!habilitarMarcarTodos"
                (click)="marcarDesmarcarTodos(true)"></p-button>
        </div>
        <div class="col">
            <p-button pTooltip="Desmarcar todos" icon="pi pi-delete-left" [disabled]="!habilitarMarcarTodos"
                (click)="marcarDesmarcarTodos(false)"></p-button>
        </div>
    </div>

    <div>
        <h4>Colaborador(a): {{vendedorVenda.nome}}</h4>
    </div>
    <div *ngIf="listaVazia">
        <label>Não existem vendas para os produtos deste colaborador</label>
    </div>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">LISTAGEM DE PRODUTOS VENDIDOS</label>
        <div class="crud--content-line"></div>
    </div>

    <p-table class="table table-striped" [value]="listaItensVenda"
        emptyMessage="Não existem vendas para os produtos deste colaborador" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[5,10,15,20]">

        <ng-template pTemplate="header">
            <tr>
            <tr>
                <th scope="col">
                    D.V.Prod
                </th>

                <th scope="col">
                    F.Pag
                </th>

                <th scope="col">
                    Vend
                </th>

                <th scope="col">
                    Produto
                </th>

                <th scope="col">
                    Qtd
                </th>

                <th scope="col">
                    Vr.Uni
                </th>

                <th scope="col">
                    Vr.Colab.Taxa
                </th>

                <th scope="col">
                    Vr.Taxa
                </th>

                <th scope="col">
                    Vr.Colab
                </th>

                <th scope="col">
                    P.Colab
                </th>

                <th scope="col">
                    Vr.Total
                </th>
                <th scope="col">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.dataVenda |date : 'dd/MM/yyyy'}}</td>
                <td>{{item.formaPagamento}}</td>
                <td>{{item.nomeVendedor}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.valor | currency}}</td>
                <td>{{item.valorColaboradorComTaxa | currency}}</td>
                <td>{{item.taxa | currency}}</td>
                <td>{{item.valorFinalColaborador | currency}}</td>
                <td>{{item.porcentagemColaborador}}%</td>
                <td>{{item.valorFinal | currency}}</td>
                <td>
                    <p-inputSwitch pTooltip="Pagar ?" [disabled]="item.desabilitar" [(ngModel)]="item.pago"
                        (ngModelChange)="setarPagoItensVendas($event,item)"></p-inputSwitch>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
        <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
        {{ mensagem }}
    </div>
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-3">
            <h4>Valor Pago: {{valorPagoColaborador | currency}}</h4>
        </div>
        <div class="col-4">
            <h4>Valor Total Colaborador: {{valorTotalColaborador | currency}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
            <button [disabled]="!habilitarPagar" type="button" class="btn btn-success"
                (click)="abrirModalVerificacao()">Pagar</button>
        </div>
    </div>

    <p-dialog [(visible)]="abrirModalVerificar" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="crud--modal-sucesso">
                <div class="crud--modal-sucesso-title">
                    <!--<i class="pi pi-exclamation-triangle" style="font-size: 2rem; color: rgb(255, 0, 0)"> 
                    </i> -->
                    <label class="crud--modal-sucesso-label">
                        <h3>Deseja realmente pagar a comissão deste vendedor ?</h3>
                    </label>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-success botaoEnviar"
                            (click)="atualizarItensVendasComoPagas(true)">Sim</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger botaoEnviar"
                            (click)="atualizarItensVendasComoPagas(false)">Não</button>
                    </div>
                </div>
                <div class="crud--modal-sucesso-botao-line">
                    <div class="crud--modal-sucesso-line"></div>
                    <div class="crud--modal-sucesso-botao">
                        <button class="btn p-button-outlined p-button-secondary p-ripple p-button p-component buttons"
                            pButton id="crud-btn-fechar" type="button" (click)="fecharModalVerificacao()"
                            label="Fechar">
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>