<div class="container">
    <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
        <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
        {{ mensagem }}
    </div>
    <h2 class="text-center">Minhas Comissões</h2>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">FILTROS</label>
        <div class="crud--content-line"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <input type="date" class="form-control" placeholder="data Inicial" [(ngModel)]="dataInicial">
        </div>
        <div class="col-3">
            <input type="date" class="form-control" placeholder="data final" [(ngModel)]="dataFinal">
        </div>
        <div class="col-2">
            <p-autoComplete [disabled]="desabilitar" [forceSelection]="true" placeholder="vendedor"
                (ngModelChange)="habilitarBotaoConsultar($event)" (onSelect)="true" [(ngModel)]="vendedorVenda"
                [dropdown]="true" [suggestions]="vendedorFiltrado" [style]="{'width': '100%'}"
                (completeMethod)="filtroVendedor($event)" field="nome">
                <ng-template let-vendedor pTemplate="colab">
                    <div>{{vendedor.nome}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" [disabled]="!habilitarConsultar"
                (click)="listarDadosRelatorioComissaoVendedores()">Consultar</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" (click)="limparFiltros()">limpar</button>
        </div>
        <div class="col">
            <p-button pTooltip="Marcar todos" icon="pi pi-check-circle" [disabled]="!habilitarMarcarTodos || desabilitar"
                (click)="marcarDesmarcarTodos(true)"></p-button>
        </div>
        <div class="col">
            <p-button pTooltip="Desmarcar todos" icon="pi pi-delete-left" [disabled]="!habilitarMarcarTodos || desabilitar"
                (click)="marcarDesmarcarTodos(false)"></p-button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h4>Vendedor(a): {{vendedorVenda.nome}}</h4>
        </div>
        <div class="col-3">
            <h4>Total Vendas: {{totalVendas}}</h4>
        </div>
        <div class="col-3">
            <h4>Vr.Pago: {{valorPagoComissaoVendedor | currency}}</h4>
        </div>
        <div class="col-3">
            <h4>Vr.Comissão: {{valorTotalComissaoVendedor | currency}}</h4>
        </div>
    </div>
    <div>

    </div>
    <div *ngIf="listaVazia">
        <label>Não existem vendas para os filtros selecionados</label>
    </div>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">LISTAGEM DE VENDAS</label>
        <div class="crud--content-line"></div>
    </div>
    <div *ngIf="habilitarSpinner">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s"></p-progressSpinner>
    </div>
    <p-table *ngIf="!habilitarSpinner" class="table table-striped" [value]="listaVendas"
        emptyMessage="Não existem vendas cadastradas" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[5,10,15,20]">

        <ng-template pTemplate="header">
            <tr>
            <tr>
                <th scope="col" pSortableColumn="dataVenda">
                    Data <p-sortIcon field="dataVenda"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="formaPagamento">
                    F.Pagamento <p-sortIcon field="formaPagamento"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="valorVendedor">
                    Vr.Vend <p-sortIcon field="valorVendedor"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="percentualDesconto">
                    Taxa <p-sortIcon field="percentualDesconto"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="percentualDesconto">
                    P.Desc <p-sortIcon field="percentualDesconto"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="valorTotal">
                    Vr.Total <p-sortIcon field="valorTotal"></p-sortIcon>
                </th>

                <th scope="col" pSortableColumn="pago">
                    Pago <p-sortIcon field="pago"></p-sortIcon>
                </th>

                <th scope="col">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-venda>
            <tr>
                <td>{{venda.dataVenda |date : 'dd/MM/yyyy'}}</td>
                <td>{{venda.formaPagamento}}</td>
                <td>{{venda.valorVendedor | currency}}</td>
                <td>{{venda.taxa | currency }}</td>
                <td>{{venda.percentualDesconto}}%</td>
                <td>{{venda.valorTotal | currency}}</td>
                <td>
                    <p-inputSwitch pTooltip="Pagar ?" [disabled]="venda.desabilitar || venda.desabilitarPagarTable"
                        [(ngModel)]="venda.pago" (ngModelChange)="setarPagoVendas($event,venda)"></p-inputSwitch>
                </td>
                <!--<td>{{venda.valorTotalComDesconto | currency}}</td> -->
                <!-- <td>{{venda.valorVendedor | currency}}</td> -->
                <!-- <td>{{venda.valorDesconto}}%</td> -->
                <td>
                    <p-button pTooltip="Visualizar" icon="pi pi-search"
                        (click)="abrirModalListagemItens(venda)"></p-button>
                </td>

            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
        <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
        {{ mensagem }}
    </div>
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
            <button [disabled]="!habilitarPagar" type="button" class="btn btn-success"
                (click)="abrirModalVerificacao()">Pagar</button>
        </div>
    </div>


    <p-dialog (onHide)="fecharModal()" [(visible)]="abrirModalItens" [style]="{width: '726px'}" [modal]=true
        styleClass="p-fluid">

        <ng-template pTemplate="content">
            <div>
                <h3 class="text-center">Itens de Venda</h3>
            </div>
            <br />
            <p-table class="table table-striped" [value]="listaItensVenda"
                emptyMessage="Não existem itens para a venda selecionada" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[5,10,15,20]">

                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="nomeColaborador">Colaborador</th>
                        <th scope="col" pSortableColumn="descricao">Descrição</th>
                        <th scope="col" pSortableColumn="valor">Valor</th>
                        <th scope="col" pSortableColumn="quantidade">Quantidade</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.nomeColaborador}}</td>
                        <td>{{item.descricao}}</td>
                        <td> {{item.valor | currency}}</td>
                        <td> {{item.quantidade}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <h4>Valor total: {{valorTotal | currency}}</h4>
                </div>
            </div>
            <div class="crud--close-modal">
                <div class="crud-label-line-bottom"></div>
                <div class="crud--edit-button">
                    <button id="crud-btn-salvar" type="button" (click)="fecharModal()"
                        class="btn p-button-outlined p-button-secondary p-ripple crud--botao-fechar">
                        Fechar
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dialog>


    <p-dialog [(visible)]="abrirModalVerificar" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="crud--modal-sucesso">
                <div class="crud--modal-sucesso-title">
                    <!--<i class="pi pi-exclamation-triangle" style="font-size: 2rem; color: rgb(255, 0, 0)"> 
                    </i> -->
                    <label class="crud--modal-sucesso-label">
                        <h3>Deseja realmente pagar a comissão deste vendedor ?</h3>
                    </label>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-success botaoEnviar"
                            (click)="atualizarVendasComoPagas(true)">Sim</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger botaoEnviar"
                            (click)="atualizarVendasComoPagas(false)">Não</button>
                    </div>
                </div>
                <div class="crud--modal-sucesso-botao-line">
                    <div class="crud--modal-sucesso-line"></div>
                    <div class="crud--modal-sucesso-botao">
                        <button class="btn p-button-outlined p-button-secondary p-ripple p-button p-component buttons"
                            pButton id="crud-btn-fechar" type="button" (click)="fecharModalVerificacao()"
                            label="Fechar">
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>