<div class="container">
    <h2 class="text-center">Gestão de Seções</h2>
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" (click)="abrirModalIncluir()">Incluir</button>
        </div>
    </div>
    <div class="crud--conten-title_table">
        <label class="crud--content-label">LISTAGEM DE SEÇÕES</label>
        <div class="crud--content-line"></div>
    </div>
    <p-table class="table table-striped" [value]="listaSecoes" emptyMessage="Não existem seções cadastradas" [rows]="5"
        [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]">

        <ng-template pTemplate="header">
            <tr>
                <th scope="col" pSortableColumn="nome">Secão</th>
                <th scope="col">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-secao>
            <tr>
                <td>{{secao.descricaoSecao}}</td>
                <td>
                    <p-button pTooltip="Editar" icon="pi pi-file-edit" (click)="abrirModalEditar(secao)"></p-button>
                </td>

            </tr>
        </ng-template>
    </p-table>

    <p-dialog (onHide)="fecharModal()" [(visible)]="abrirModalSecao" [style]="{width: '726px'}" [modal]=true
        styleClass="p-fluid">

        <ng-template pTemplate="content">
            <div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
                <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
                {{ mensagem }}
            </div>
            <div>
                <h3 class="text-center" *ngIf="novaSecao">Cadastrar Seção</h3>
                <h3 class="text-center" *ngIf="editarSecao">Editar Seção</h3>
            </div>
            <br />
            <div>
                <div class="crud--detalhes-parametro-sistema" *ngIf="novaSecao">
                    <label>Seção</label>
                    <input class="form-control" [(ngModel)]="secao.descricaoSecao" placeholder="informe a seção" />
                </div>
                <div class="crud--detalhes-parametro-sistema" *ngIf="editarSecao">
                    <label>Seção</label>
                    <input class="form-control" [(ngModel)]="secaoEdicao.descricaoSecao" placeholder="informe a seção" />
                </div>
            </div>
            <div class="crud--close-modal">
                <div class="crud-label-line-bottom"></div>
                <div class="crud--edit-button">
                    <button id="crud-btn-fechar" type="button" (click)="fecharModal()"
                        class="btn p-button-outlined p-button-secondary p-ripple crud--botao-fechar">
                        Fechar
                    </button>
                    <button id="crud-btn-salvar" type="button" class="btn btn-success buttons" *ngIf="novaSecao"
                        (click)="salvar()">
                        Salvar
                    </button>
                    <button id="crud-btn-salvar" type="button" class="btn btn-success buttons" *ngIf="editarSecao"
                        (click)="editar()">
                        Editar
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="parametroSucesso" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="crud--modal-sucesso">
                <div class="crud--modal-sucesso-title">
                    <i class="pi pi-check" style="font-size: 2rem; color: #00B273">
                    </i>
                    <!--<i class="pi pi-exclamation-triangle" style="font-size: 2rem; color: rgb(255, 0, 0)"> 
                    </i> -->
                    <label class="crud--modal-sucesso-label">
                        {{this.mensagem}}
                    </label>
                </div>
                <div class="crud--modal-sucesso-botao-line">
                    <div class="crud--modal-sucesso-line"></div>
                    <div class="crud--modal-sucesso-botao">
                        <button class="btn p-button-outlined p-button-secondary p-ripple p-button p-component buttons"
                            pButton id="crud-btn-fechar" type="button" (click)="fecharModalSucesso()" label="Fechar">
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>