
    
    .crud--close-modal {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        }
        
        .crud-space-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
        }
        
        .crud--edit-button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        margin-top: 20px;
        }
        
        .crud--botao-fechar {
        background-color: #fff;
        border: 1px solid;
        width: 84px;
        height: 40px;
        }
        .crud--botao-salvar {
        width: 84px;
        height: 40px;
        }
        
        /* Modal de editar os parâmetros do sistema */
        .crud--crud-input {
        display: flex;
        width: 100%;
        justify-content: space-between;
        }
        
        /* Modal para deletar os parâmetros do sistema */
        .crud--modal-delete {
        padding: 2%;
        }
        .crud--title-delete {
        display: flex;
        align-items: center;
        }
        .crud--modal-delete-title {
        color: #005CA9;
        font-size: 21px;
        padding-left: 10px;
        }
        
        .crud--modal-delete-label {
        font-size: 21px;
        padding-top: 30px;
        }
        .crud--modal-delete-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
        
        
        .crud--modal-sucesso-title {
        display: flex;
        align-items: center;
        }
        .crud--modal-sucesso-label {
        color: #005CA9;
        font-size: 21px;
        padding-left: 10px;
        }
        
        .crud--modal-sucesso-botao-line {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 130px;
        }
        
        .crud--modal-sucesso-line {
        display: flex;
        width: 100%;
        border-top: 1px solid #D0E0E3;
        }
        
        .crud--modal-sucesso-botao {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 30px;
        }
        
        #crud-btn-fechar {
        width: 87px;
        }

    .botaoEnviar{
        width: 150px;
        border-radius: 6px;
        font-size: 18px;
    }