<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div *ngIf="exibirMensagem" class="break-line alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
    <h4><i class="pi pi-{{tipoIcone}}" style="font-size: 1.5rem"></i>&nbsp;&nbsp;Atenção!</h4>
    {{ mensagem }}
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <br />
        <div class="fadeIn first">
            <img src="src/app/imagens/TERRAL-COLLAB-logo-01.jpg" />
        </div>
        <!-- Login Form -->
        <form>
            <br />
            <input [(ngModel)]="colaborador.nome" type="text" id="login" class="fadeIn second" name="login" placeholder="Informe o nome">
            <input [(ngModel)]="colaborador.senha" type="text" id="password" class="fadeIn third" name="login" placeholder="Informe a senha">
            <br />
            <br />
            <input (click)="autenticar()" type="submit" class="fadeIn fourth" value="Log In">
        </form>
    </div>
</div>