.bg-image {
    background-image: url('https://img.freepik.com/vetores-premium/icone-de-loja-online-em-fundo-branco-vetor-premium_658689-558.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }