<div class="container">
    <div class="row">
        <!--<div class="col-6">
            <p-panel header="Produtos mais vendidos">
                <p-chart type="pie" [data]="pieChartData" height="40vh"></p-chart>
            </p-panel>
        </div> -->
        <div class="col-12">
            <p-panel header="Vendas registradas por tipo pagamento no mês corrente">
                <p-chart type="line" [data]="lineChartData" height="40vh"></p-chart>
            </p-panel>
            <br />
            <br />
            <p-panel header="Valor total vendas por seção no mês corrente">
                <p-chart type="pie" [data]="pieChartData" height="40vh"></p-chart>
            </p-panel>
        </div>
    </div>
</div>